In [14]:
import pandas as pd
from pandas.core.frame import DataFrame

school = pd.read_csv('../data/raw/schoollocations2022.csv')

school = school[['School_Name', 'Address_Line_1', 'Address_Postcode', 'X', 'Y']]

school_list = []

for i in range(0,len(school)):
    row = school.iloc[i]
    location = str(row[4]) + ' ' + str(row[3])
    school_list.append([row[0], row[1], row[2], location])

school_new = DataFrame(data = school_list, columns=['School_Name', 'Address', 'Postcode', 'Location'])

school_new

,School_Name,Address,Postcode,Location
0,Alberton Primary School,21 Thomson Street,3971,-38.61771 146.6666
1,Allansford and District Primary School,Frank Street,3277,-38.38628 142.59039
2,Avoca Primary School,118 Barnett Street,3467,-37.0845 143.47565
3,Avenel Primary School,40 Anderson Street,3664,-36.90137 145.23472
4,Warrandyte Primary School,5-11 Forbes Street,3113,-37.74268 145.21398
...,...,...,...,...
2294,Lysterfield Lake College,20 A�Beckett Road,3804,-37.97748 145.31604
2295,Plenty River College,"Unit 5, 9 Danaher Drive",3752,-37.64875 145.08148
2296,Holy Cross Catholic Primary School,2-14 Carlingford Rd,3064,-37.53046 144.9052
2297,Sidrah Gardens School,434-442 Belgrave-Hallam Road,3804,-37.97324 145.31589
2298,Mountain District Community College,13-15 The Avenue,3156,-37.88319 145.29327

In [15]:
import pandas as pd

centroid = pd.read_csv('../data/curated/centroid.csv')
centroid = centroid.drop(columns='Unnamed: 0')

centroid

     Postcode               Centroid
0        3000  -37.817403 144.956776
1        3001  -37.817403 144.956776
2        3002  -37.818517 144.982207
3        3003  -37.810871 144.949592
4        3004  -37.844246 144.970161
..        ...                    ...
741      8107  -37.844246 144.970161
742      8111  -37.844246 144.970161
743      8120  -37.844246 144.970161
744      8205  -37.844246 144.970161
745      8785  -38.016114 145.208504

[746 rows x 2 columns]

In [18]:
df_merge = pd.merge(centroid, school_new, how='left', on='Postcode')

df_merge = df_merge.dropna()

df_merge

,Postcode,Centroid,School_Name,Address,Location
0,3000,-37.817403 144.956776,Stott's College,"Level 1-6, 168 Exhibition Street",-37.81154 144.97056
1,3000,-37.817403 144.956776,Ozford College,Levels 7 & 9,-37.81289 144.95442
2,3000,-37.817403 144.956776,Holmes Grammar School,185 Spring Street,-37.8103 144.97227
3,3000,-37.817403 144.956776,Hester Hornbrook Academy,"Level 8, 601 Bourke Street",-37.81654 144.95615
6,3003,-37.810871 144.949592,Simonds Catholic College,273 Victoria Street,-37.80597 144.95288
...,...,...,...,...,...
2439,3995,-38.578071 145.630713,Wonthaggi North Primary School,Cnr White & Wentworth Road,-38.59882 145.60023
2440,3995,-38.578071 145.630713,Bass Coast College,2 McKenzie Street,-38.61094 145.59788
2441,3995,-38.578071 145.630713,Bass Coast Specialist School,6 Mckenzie Street,-38.60974 145.59647
2442,3995,-38.578071 145.630713,St Joseph's School,94 Korumburra Road,-38.60086 145.60341
2443,3996,-38.629561 145.745609,Inverloch Primary School,Bayview Avenue,-38.6312 145.72862

In [24]:
from pandas.core.frame import DataFrame
import requests
import json

school_list = []

key = 'AIzaSyDOyCyFAzpsSQnSK-tdXB-cbr3_7y3OGOk' 

for i in range(0,len(df_merge)):
    row = df_merge.iloc[i]
    centroid = row[1]
    school = row[4]
    url = 'https://maps.googleapis.com/maps/api/distancematrix/json?origins={}&destinations={}&key={}'.format(centroid,school,key)

    payload={}
    headers = {}

    response = requests.request("GET", url, headers=headers, data=payload)

    # return json
    json_data = json.loads(response.text)
    result = json_data['rows']

    if result[0]['elements'][0]['status'] == 'OK':
        distance = result[0]['elements'][0]['distance']['text']
        duration = result[0]['elements'][0]['duration']['text']

        school_list.append([row[0], row[1], row[2], row[3], row[4], distance, duration])

school_centroid = DataFrame(data = school_list, columns=['Postcode', 'Centroid', 'School_Name', 'Address','Location', 'Distance', 'Duration'])

In [25]:
school_centroid = school_centroid.sort_values(by=['Postcode','Distance'], ascending=(True,True))

school_centroid.drop_duplicates(subset=['Postcode'], keep='first', inplace=True)

school_centroid

,Postcode,Centroid,School_Name,Address,Location,Distance,Duration
1,3000,-37.817403 144.956776,Ozford College,Levels 7 & 9,-37.81289 144.95442,1.1 km,5 mins
4,3003,-37.810871 144.949592,Simonds Catholic College,273 Victoria Street,-37.80597 144.95288,1.0 km,4 mins
6,3004,-37.844246 144.970161,MacRobertson Girls High School,350-370 Kings Way,-37.83589 144.97186,1.4 km,3 mins
9,3006,-37.82528675 144.9520744,South Melbourne Primary School,129-161 Ferrars Street,-37.82935 144.9535,1.4 km,5 mins
11,3008,-37.814719 144.948039,Docklands Primary School,17 Little Docklands Drive,-37.81271 144.94055,0.9 km,3 mins
...,...,...,...,...,...,...,...
2279,3987,-38.309048 145.689142,Nyora Primary School,Grundy Avenue,-38.33624 145.67489,5.2 km,8 mins
2280,3988,-38.313447 145.811863,Poowong Consolidated School,5 Gardner Lane,-38.34248 145.7697,8.2 km,10 mins
2281,3992,-38.569135 145.534315,Powlett River Primary School,9 - 21 Bent Street,-38.56035 145.5462,2.0 km,5 mins
2287,3995,-38.578071 145.630713,St Joseph's School,94 Korumburra Road,-38.60086 145.60341,4.2 km,4 mins
2288,3996,-38.629561 145.745609,Inverloch Primary School,Bayview Avenue,-38.6312 145.72862,1.9 km,4 mins

In [ ]:
school_centroid.to_csv('../data/curated/closest_school.csv')