In [3]:
import pandas as pd
from pandas.core.frame import DataFrame

# Read in the external school data
school = pd.read_csv('../data/raw/schoollocations2022.csv')
school = school[['School_Name', 'Address_Line_1', 'Address_Postcode', 'X', 'Y']]

# Create new list for later use
school_list = []

# Loop through the dataframe, add unformation into the list
for i in range(0,len(school)):
    row = school.iloc[i]
    location = str(row[4]) + ' ' + str(row[3])
    school_list.append([row[0], row[1], row[2], location])

# Forming new dataframe
school_new = DataFrame(data = school_list, columns=['School_Name', 'Address', 'Postcode', 'Location'])

,School_Name,Address,Postcode,Location
0,Alberton Primary School,21 Thomson Street,3971,-38.61771 146.6666
1,Allansford and District Primary School,Frank Street,3277,-38.38628 142.59039
2,Avoca Primary School,118 Barnett Street,3467,-37.0845 143.47565
3,Avenel Primary School,40 Anderson Street,3664,-36.90137 145.23472
4,Warrandyte Primary School,5-11 Forbes Street,3113,-37.74268 145.21398
...,...,...,...,...
2294,Lysterfield Lake College,20 A�Beckett Road,3804,-37.97748 145.31604
2295,Plenty River College,"Unit 5, 9 Danaher Drive",3752,-37.64875 145.08148
2296,Holy Cross Catholic Primary School,2-14 Carlingford Rd,3064,-37.53046 144.9052
2297,Sidrah Gardens School,434-442 Belgrave-Hallam Road,3804,-37.97324 145.31589
2298,Mountain District Community College,13-15 The Avenue,3156,-37.88319 145.29327

In [4]:
# Merge the school position data with postcode centroid data
centroid = pd.read_csv('../data/curated/centroid.csv')
centroid = centroid.drop(columns='Unnamed: 0')
df_merge = pd.merge(centroid, school_new, how='left', on='Postcode')
df_merge = df_merge.dropna()

     Postcode               Centroid
0        3000  -37.817403 144.956776
1        3001  -37.817403 144.956776
2        3002  -37.818517 144.982207
3        3003  -37.810871 144.949592
4        3004  -37.844246 144.970161
..        ...                    ...
741      8107  -37.844246 144.970161
742      8111  -37.844246 144.970161
743      8120  -37.844246 144.970161
744      8205  -37.844246 144.970161
745      8785  -38.016114 145.208504

[746 rows x 2 columns]

In [ ]:
from pandas.core.frame import DataFrame
import requests
import json

school_list = []
key = 'AIzaSyDOyCyFAzpsSQnSK-tdXB-cbr3_7y3OGOk' 

for i in range(0,len(df_merge)):
    row = df_merge.iloc[i]
    centroid = row[1]
    school = row[4]
    
    # Request longtitude and latitude by API
    url = 'https://maps.googleapis.com/maps/api/distancematrix/json?origins={}&destinations={}&key={}'.format(centroid,school,key)
    payload={}
    headers = {}
    response = requests.request("GET", url, headers=headers, data=payload)

    # Return json
    json_data = json.loads(response.text)
    result = json_data['rows']

    if result[0]['elements'][0]['status'] == 'OK':
        distance = result[0]['elements'][0]['distance']['text']
        duration = result[0]['elements'][0]['duration']['text']
        school_list.append([row[0], row[1], row[2], row[3], row[4], distance, duration])

# Forming new dataframe
school_centroid = DataFrame(data = school_list, columns=['Postcode', 'Centroid', 'School_Name', 'Address','Location', 'Distance', 'Duration'])

In [ ]:
# Filter out the closest school to centroid
school_centroid = school_centroid.sort_values(by=['Postcode','Distance'], ascending=(True,True))
school_centroid.drop_duplicates(subset=['Postcode'], keep='first', inplace=True)
school_centroid

In [ ]:
# Removing the unit and save data into csv
school_centroid['Distance'] = school_centroid['Distance'].map(lambda x:x.rstrip('km'))
school_centroid.to_csv('../data/curated/closest_school.csv')