In [18]:
import pandas as pd

# Read data
station = pd.read_csv('../data/curated/closest_bus_station.csv')
hospital = pd.read_csv('../data/curated/closest_hospital.csv')
school = pd.read_csv('../data/curated/closest_school.csv')
price = pd.read_csv('../data/curated/mean_price_per_week.csv')

In [21]:
# Merge price and hospital

ph = pd.merge(price, hospital, how='left', on='Postcode')
ph = ph[['Postcode', 'processed_price', 'Distance', 'Duration']]
ph = ph.dropna()
ph

     Postcode  processed_price Distance        Duration
0        3000       579.035062   2.0 km          9 mins
1        3002       716.444444   0.6 km          3 mins
3        3004       735.383721   3.6 km          8 mins
5        3008       615.328467   0.9 km          3 mins
6        3011       855.467337   1.8 km          5 mins
..        ...              ...      ...             ...
411      3960       487.746000  75.2 km  1 hour 31 mins
414      3976       423.260870   1.8 km          4 mins
415      3977       478.225806   7.3 km          9 mins
418      3981       390.000000  10.0 km         10 mins
422      3995       409.216783   6.2 km          8 mins

[153 rows x 4 columns]

In [30]:
# Merge price and school

psc = pd.merge(price, school, how='left', on='Postcode')
psc = psc[['Postcode', 'processed_price', 'Distance', 'Duration']]
psc = psc.dropna()
psc

     Postcode  processed_price Distance Duration
0        3000       579.035062   1.1 km   5 mins
2        3003       537.307692   1.0 km   4 mins
3        3004       735.383721   1.4 km   3 mins
4        3006       625.362791   1.4 km   5 mins
5        3008       615.328467   0.9 km   3 mins
..        ...              ...      ...      ...
419      3984       441.500000  19.1 km  15 mins
420      3987       292.260000   5.2 km   8 mins
421      3992       425.000000   2.0 km   5 mins
422      3995       409.216783   4.2 km   4 mins
423      3996       447.500000   1.9 km   4 mins

[401 rows x 4 columns]

In [31]:
# Merge price and station

pst = pd.merge(price, station, how='left', on='Postcode')
pst = pst[['Postcode', 'processed_price', 'Distance', 'Duration']]
pst = pst.dropna()
pst

     Postcode  processed_price Distance Duration
145      3177       396.346154   0.4 km    1 min
347      3802       473.500000   0.6 km    1 min
348      3803       432.500000   0.7 km    1 min
349      3804       480.000000   1.3 km   3 mins
350      3805       441.578947   0.3 km    1 min
351      3806       475.557377   0.7 km    1 min
352      3807       510.000000   1.7 km   3 mins
384      3912       631.363636   2.7 km   4 mins
413      3975       484.722222   1.4 km   3 mins
414      3976       423.260870   0.6 km    1 min
415      3977       478.225806  10.1 km  14 mins
416      3978       486.250000  10.2 km  14 mins
417      3980       495.000000   3.7 km   4 mins