In [18]:
import pandas as pd

station = pd.read_csv('../data/curated/closest_bus_station.csv')
hospital = pd.read_csv('../data/curated/closest_hospital.csv')
school = pd.read_csv('../data/curated/closest_school.csv')
price = pd.read_csv('../data/curated/mean_price_per_week.csv')

In [21]:
#price and hospital

ph = pd.merge(price, hospital, how='left', on='Postcode')

ph = ph[['Postcode', 'processed_price', 'Distance', 'Duration']]

ph = ph.dropna()

process_price = ph['processed_price']
distance = ph['Distance']

ph

     Postcode  processed_price Distance        Duration
0        3000       579.035062   2.0 km          9 mins
1        3002       716.444444   0.6 km          3 mins
3        3004       735.383721   3.6 km          8 mins
5        3008       615.328467   0.9 km          3 mins
6        3011       855.467337   1.8 km          5 mins
..        ...              ...      ...             ...
411      3960       487.746000  75.2 km  1 hour 31 mins
414      3976       423.260870   1.8 km          4 mins
415      3977       478.225806   7.3 km          9 mins
418      3981       390.000000  10.0 km         10 mins
422      3995       409.216783   6.2 km          8 mins

[153 rows x 4 columns]