In [1]:
import re
import json
import pandas as pd

In [3]:
# Read in property data
with open('../data/raw/properties_dict.json', 'r') as f:
    properties_dict = json.load(f)
data = [(d['postcode'], d['price']) for d in properties_dict.values()]
data = pd.DataFrame(data, columns=['postcode', 'price'])

def process_price(text):
    '''This function takes in price in text form, and return price in right form'''
    price = re.findall(r'@?\$\d+(?:.\d+)?', text.replace(',', ''))
    if len(price) == 0:
        price = re.findall(r'@?\d+(?:.\d+)?', text.replace(',', ''))
    if len(price) > 0:
        out = price[0]
        if out[0] == '$':
            out = float(out[1:])
        else:
            try:
                out = float(out)
            except ValueError:
                out = ''
    else:
        out = ''
    return out

def get_freq(text):
    '''This function takes in a text, and return frequency in right form'''
    text = text.lower()
    if re.search(r"week[ly]?|wk|p/?w", text) is not None:
        out = 'week'
    elif re.search(r"month[ly]?|p/?m", text) is not None:
        out = 'month'
    # elif 'annum' in text or ' pa' in text:
    elif re.search(r"\bannum|p\.?a\.?\b|annually|year", text) is not None:
        out = 'year'
    else:
        out = 'week'
    return out

data['freq'] = data.price.apply(get_freq)
data['processed_price'] = data.price.apply(process_price)
data = data[data.processed_price != '']
data.loc[data.freq == 'unk', 'freq'] = 'week'

# Change all the price into week rental price
data.loc[data.freq == 'month', 'processed_price'] = data.loc[data.freq == 'month', 'processed_price'] * 12 / 52
data.loc[data.freq == 'year', 'processed_price'] = data.loc[data.freq == 'year', 'processed_price'] / 52
data.drop([2164], inplace=True)
data = data[data.processed_price > 10]

      postcode             price  freq processed_price
0         3000               $60  week            60.0
1         3000     $440 per week  week           440.0
4         3000     $650 per week  week           650.0
5         3000              $440  week           440.0
6         3000              $320  week           320.0
...        ...               ...   ...             ...
15347     3996  $600.00 Per Week  week           600.0
15348     3996           $550 wk  week           550.0
15349     3996           $420 wk  week           420.0
15350     3996           $370 wk  week           370.0
15351     3996           $475 wk  week           475.0

[14937 rows x 4 columns]

In [4]:
# Calculate the mean price in each postcode
mean_price = data.groupby('postcode').processed_price.mean()
mean_price.to_csv('../data/curated/mean_price_per_week.csv')