In [82]:
import pandas as pd

In [83]:
property_data = pd.read_csv("../data/curated/processed_domain_data.csv")
hospital_data = pd.read_csv("../data/curated/closest_hospital.csv")
school_data = pd.read_csv("../data/curated/closest_school.csv")
population_data = pd.read_csv("../data/curated/predicted_population.csv")
crime_data = pd.read_csv("../data/curated/crime.csv")
bus_data = pd.read_csv("../data/curated/closest_bus_station.csv")
shopping_center_data = pd.read_csv("../data/curated/closest_shopping_center.csv")
income_data = pd.read_csv("../data/curated/income.csv")
count = pd.read_csv('../data/curated/count.csv')
property_data.columns = ['Unnamed: 0', 'address','Postcode', 'bedrooms', 'baths', 'parking', 'property_type', 'property_features', 'freq', 'processed_price']

In [84]:
income_data = income_data[['Postcode', 'Income Per Person']]
income_data = income_data.groupby(['Postcode']).mean()
income_data

          Income Per Person
Postcode
3000           11826.000000
3002            3899.000000
3003           14582.000000
3004           10933.666667
3005           11263.000000
...                     ...
3990           12695.000000
3991           12695.000000
3992           12695.000000
3995           12695.000000
3996            8846.000000

[696 rows x 1 columns]

In [85]:
hospital_data['Duration'] = hospital_data['Duration'].map(lambda x:x.rstrip(' mins'))

In [86]:
bus_data['Duration'] = bus_data['Duration'].map(lambda x:x.rstrip(' mins'))
bus_data['Distance'] = bus_data['Distance'].map(lambda x:x.rstrip(' km'))
school_data['Duration'] = school_data['Duration'].map(lambda x:x.rstrip(' mins'))
shopping_center_data['Duration'] = shopping_center_data['Duration'].map(lambda x:x.rstrip(' mins'))
shopping_center_data = shopping_center_data[['Postcode','Centroid','Shopping_Center_Name','Location','Distance','Duration']]
shopping_center_data.columns = ['Postcode','Centroid_shop','Shopping_Center_Name','Location_shop','Distance_shop','Duration_shop']

In [87]:
population_data = population_data[['Postcode', '2022']]

In [88]:
complete_data = property_data.merge(hospital_data, how='left', on='Postcode')
complete_data = complete_data.merge(school_data, how='left', on='Postcode')
complete_data = complete_data.merge(population_data, how='left', on='Postcode')
complete_data = complete_data.merge(crime_data, how='left', on='Postcode')
complete_data = complete_data.merge(bus_data, how='left', on='Postcode')
complete_data = complete_data.merge(shopping_center_data, how='left', on='Postcode')
complete_data = complete_data.merge(income_data, how='left', on='Postcode')
complete_data = complete_data.merge(count, how='left', on='Postcode')

/var/folders/t7/dnx7ygys43vfq00ddy255g680000gn/T/ipykernel_73673/2451451656.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 0_x'} in the result is deprecated and will raise a MergeError in a future version.
  complete_data = complete_data.merge(bus_data, how='left', on='Postcode')

In [89]:
complete_data = complete_data[['Postcode','2022','bedrooms','baths','parking','property_type','processed_price','Distance_x','Duration_x','Distance_y','Duration_y','Distance','Duration','Distance_shop','Duration_shop','Offence Count','Income Per Person','Count_Station','Count_Hospital','Count_School','Count_Shopping_Center']]

In [90]:
complete_data.columns = ['Postcode','Population','bedrooms','baths','parking','property_type','processed_price','Distance_medi','Duration_medi','Distance_sch','Duration_sch','Distance_bus','Duration_bus','Distance_shop','Duration_shop','Offence Count','Income Per Person','Count_Station','Count_Hospital','Count_School','Count_Shopping_Center']

In [91]:
complete_data['Count_Hospital'] = complete_data['Count_Hospital'].fillna(0)
complete_data['Count_School'] = complete_data['Count_School'].fillna(0)
complete_data['Count_Station'] = complete_data['Count_Station'].fillna(0)
complete_data['Count_Shopping_Center'] = complete_data['Count_Shopping_Center'].fillna(0)
complete_data = complete_data.drop_duplicates()

In [92]:
complete_data.columns[complete_data.isnull().any()].tolist()

['Population',
 'Distance_medi',
 'Duration_medi',
 'Distance_sch',
 'Duration_sch',
 'Distance_bus',
 'Duration_bus',
 'Distance_shop',
 'Duration_shop',
 'Income Per Person']

In [93]:
complete_data.to_csv('../data/curated/complete_data.csv')