In [72]:
import pandas as pd

In [73]:
property_data = pd.read_csv("../data/curated/processed_domain_data.csv")
hospital_data = pd.read_csv("../data/curated/closest_hospital.csv")
school_data = pd.read_csv("../data/curated/closest_school.csv")
population_data = pd.read_csv("../data/curated/predicted_population.csv")
crime_data = pd.read_csv("../data/curated/crime.csv")
bus_data = pd.read_csv("../data/curated/closest_bus_station.csv")
shopping_center_data = pd.read_csv("../data/curated/closest_shopping_center.csv")
income_data = pd.read_csv("../data/curated/income.csv")
count = pd.read_csv('../data/curated/count.csv')
property_data.columns = ['Unnamed: 0', 'address','Postcode', 'bedrooms', 'baths', 'parking', 'property_type', 'property_features', 'freq', 'processed_price']

In [74]:
income_data = income_data[['Postcode', 'Income Per Person']]

income_data = income_data.groupby(['Postcode']).mean()

income_data

          Income Per Person
Postcode
3000           11826.000000
3002            3899.000000
3003           14582.000000
3004           10933.666667
3005           11263.000000
...                     ...
3990           12695.000000
3991           12695.000000
3992           12695.000000
3995           12695.000000
3996            8846.000000

[696 rows x 1 columns]

In [75]:
hospital_data['Duration'] = hospital_data['Duration'].map(lambda x:x.rstrip(' mins'))

In [76]:
bus_data['Duration'] = bus_data['Duration'].map(lambda x:x.rstrip(' mins'))
bus_data['Distance'] = bus_data['Distance'].map(lambda x:x.rstrip(' km'))
school_data['Duration'] = school_data['Duration'].map(lambda x:x.rstrip(' mins'))
shopping_center_data['Duration'] = shopping_center_data['Duration'].map(lambda x:x.rstrip(' mins'))
shopping_center_data = shopping_center_data[['Postcode','Centroid','Shopping_Center_Name','Location','Distance','Duration']]
shopping_center_data.columns = ['Postcode','Centroid_shop','Shopping_Center_Name','Location_shop','Distance_shop','Duration_shop']

In [77]:
population_data = population_data[['Postcode', '2022']]

In [78]:
complete_data = property_data.merge(hospital_data, how='left', on='Postcode')
complete_data = complete_data.merge(school_data, how='left', on='Postcode')
complete_data = complete_data.merge(population_data, how='left', on='Postcode')
complete_data = complete_data.merge(crime_data, how='left', on='Postcode')
complete_data = complete_data.merge(bus_data, how='left', on='Postcode')
complete_data = complete_data.merge(shopping_center_data, how='left', on='Postcode')
complete_data = complete_data.merge(income_data, how='left', on='Postcode')
complete_data = complete_data.merge(count, how='left', on='Postcode')
complete_data.head()

/var/folders/mv/s3dk3thn01b8yf4vz18zfjlr0000gn/T/ipykernel_53061/3622887043.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 0_x'} in the result is deprecated and will raise a MergeError in a future version.
  complete_data = complete_data.merge(bus_data, how='left', on='Postcode')

,Unnamed: 0_x,address,Postcode,bedrooms,baths,parking,property_type,property_features,freq,processed_price,...,Centroid_shop,Shopping_Center_Name,Location_shop,Distance_shop,Duration_shop,Income Per Person,Count_Station,Count_Hospital,Count_School,Count_Shopping_Center
0,https://www.domain.com.au/cp2008-11-rose-lane-...,CP2008/11 Rose Lane Melbourne VIC 3000,3000,0,0,1,Carspace,[],week,60.0,...,-37.817403 144.956776,COLLINS234 BOUTIQUE PLACE,"-37.815545, 144.965749",1.0,6,11826.0,45.0,4.0,4.0,18.0
1,https://www.domain.com.au/unit-1713-200-spence...,Unit 1713/200 Spencer St Melbourne VIC 3000,3000,1,1,1,Apartment / Unit / Flat,[],week,440.0,...,-37.817403 144.956776,COLLINS234 BOUTIQUE PLACE,"-37.815545, 144.965749",1.0,6,11826.0,45.0,4.0,4.0,18.0
2,https://www.domain.com.au/3902-220-spencer-str...,3902/220 Spencer Street Melbourne VIC 3000,3000,2,2,1,Apartment / Unit / Flat,['Furnished'],week,650.0,...,-37.817403 144.956776,COLLINS234 BOUTIQUE PLACE,"-37.815545, 144.965749",1.0,6,11826.0,45.0,4.0,4.0,18.0
3,https://www.domain.com.au/3405-288-spencer-str...,3405/288 Spencer Street Melbourne VIC 3000,3000,1,1,0,Apartment / Unit / Flat,"['INSIDE:', 'Split System Heating', 'Air condi...",week,440.0,...,-37.817403 144.956776,COLLINS234 BOUTIQUE PLACE,"-37.815545, 144.965749",1.0,6,11826.0,45.0,4.0,4.0,18.0
4,https://www.domain.com.au/1007-238-flinders-st...,1007/238 Flinders St Melbourne VIC 3000,3000,1,1,0,Apartment / Unit / Flat,[],week,320.0,...,-37.817403 144.956776,COLLINS234 BOUTIQUE PLACE,"-37.815545, 144.965749",1.0,6,11826.0,45.0,4.0,4.0,18.0

In [79]:

complete_data = complete_data[['Postcode','Offence Count','Income Per Person','Count_Station','Count_Hospital','Count_School','Count_Shopping_Center']]

complete_data['Count_Hospital'] = complete_data['Count_Hospital'].fillna(0)
complete_data['Count_School'] = complete_data['Count_School'].fillna(0)
complete_data['Count_Station'] = complete_data['Count_Station'].fillna(0)
complete_data['Count_Shopping_Center'] = complete_data['Count_Shopping_Center'].fillna(0)

complete_data = complete_data.drop_duplicates()


complete_data.to_csv('../data/curated/complete_data.csv')

In [80]:
complete_data

,Postcode,Offence Count,Income Per Person,Count_Station,Count_Hospital,Count_School,Count_Shopping_Center
0,3000,16212,11826.000000,45.0,4.0,4.0,18.0
577,3002,1300,3899.000000,11.0,7.0,0.0,0.0
622,3003,1306,14582.000000,17.0,0.0,1.0,0.0
700,3004,4302,10933.666667,12.0,2.0,4.0,0.0
786,3006,3908,12187.500000,10.0,0.0,2.0,1.0
...,...,...,...,...,...,...,...
14939,3984,696,7656.666667,0.0,0.0,0.0,0.0
14949,3987,79,5137.500000,0.0,0.0,0.0,0.0
14951,3992,115,12695.000000,0.0,0.0,0.0,0.0
14953,3995,1092,12695.000000,0.0,0.0,0.0,0.0
14975,3996,267,8846.000000,0.0,0.0,0.0,0.0