In [26]:
import pandas as pd

In [27]:
property_data = pd.read_csv("../data/curated/processed_domain_data.csv")
hospital_data = pd.read_csv("../data/curated/closest_hospital.csv")
school_data = pd.read_csv("../data/curated/closest_school.csv")
population_data = pd.read_csv("../data/raw/population_postcode.csv")
crime_data = pd.read_csv("../data/curated/crime.csv")
bus_data = pd.read_csv("../data/curated/closest_bus_station.csv")
shopping_center_data = pd.read_csv("../data/curated/closest_shopping_center.csv")
income_data = pd.read_csv("../data/curated/income.csv")
count = pd.read_csv('../data/curated/count.csv')
property_data.columns = ['Unnamed: 0', 'address','Postcode', 'bedrooms', 'baths', 'parking', 'property_type', 'property_features', 'freq', 'processed_price']

In [28]:
hospital_data['Duration'] = hospital_data['Duration'].map(lambda x:x.rstrip(' mins'))

In [29]:
bus_data['Duration'] = bus_data['Duration'].map(lambda x:x.rstrip(' mins'))
bus_data['Distance'] = bus_data['Distance'].map(lambda x:x.rstrip(' km'))
school_data['Duration'] = school_data['Duration'].map(lambda x:x.rstrip(' mins'))
shopping_center_data['Duration'] = shopping_center_data['Duration'].map(lambda x:x.rstrip(' mins'))
shopping_center_data = shopping_center_data[['Postcode','Centroid','Shopping_Center_Name','Location','Distance','Duration']]
shopping_center_data.columns = ['Postcode','Centroid_shop','Shopping_Center_Name','Location_shop','Distance_shop','Duration_shop']

In [30]:
population_data = population_data[['Postcode', '2021']]

In [31]:
complete_data = property_data.merge(hospital_data, how='left', on='Postcode')
complete_data = complete_data.merge(school_data, how='left', on='Postcode')
complete_data = complete_data.merge(population_data, how='left', on='Postcode')
complete_data = complete_data.merge(crime_data, how='left', on='Postcode')
complete_data = complete_data.merge(bus_data, how='left', on='Postcode')
complete_data = complete_data.merge(shopping_center_data, how='left', on='Postcode')
complete_data = complete_data.merge(income_data, how='left', on='Postcode')
complete_data = complete_data.merge(count, how='left', on='Postcode')
complete_data.head()

/var/folders/mv/s3dk3thn01b8yf4vz18zfjlr0000gn/T/ipykernel_25136/3622887043.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 0_x'} in the result is deprecated and will raise a MergeError in a future version.
  complete_data = complete_data.merge(bus_data, how='left', on='Postcode')

,Unnamed: 0_x,address,Postcode,bedrooms,baths,parking,property_type,property_features,freq,processed_price,...,Shopping_Center_Name,Location_shop,Distance_shop,Duration_shop,Unnamed: 0,Income Per Person,Count_Station,Count_Hospital,Count_School,Count_Shopping_Center
0,https://www.domain.com.au/cp2008-11-rose-lane-...,CP2008/11 Rose Lane Melbourne VIC 3000,3000,0,0,1,Carspace,[],week,60.0,...,COLLINS234 BOUTIQUE PLACE,"-37.815545, 144.965749",1.0,6,0.0,9422.0,45.0,4.0,4.0,18.0
1,https://www.domain.com.au/cp2008-11-rose-lane-...,CP2008/11 Rose Lane Melbourne VIC 3000,3000,0,0,1,Carspace,[],week,60.0,...,COLLINS234 BOUTIQUE PLACE,"-37.815545, 144.965749",1.0,6,1.0,3899.0,45.0,4.0,4.0,18.0
2,https://www.domain.com.au/cp2008-11-rose-lane-...,CP2008/11 Rose Lane Melbourne VIC 3000,3000,0,0,1,Carspace,[],week,60.0,...,COLLINS234 BOUTIQUE PLACE,"-37.815545, 144.965749",1.0,6,2.0,27182.0,45.0,4.0,4.0,18.0
3,https://www.domain.com.au/cp2008-11-rose-lane-...,CP2008/11 Rose Lane Melbourne VIC 3000,3000,0,0,1,Carspace,[],week,60.0,...,COLLINS234 BOUTIQUE PLACE,"-37.815545, 144.965749",1.0,6,3.0,14582.0,45.0,4.0,4.0,18.0
4,https://www.domain.com.au/cp2008-11-rose-lane-...,CP2008/11 Rose Lane Melbourne VIC 3000,3000,0,0,1,Carspace,[],week,60.0,...,COLLINS234 BOUTIQUE PLACE,"-37.815545, 144.965749",1.0,6,4.0,4045.0,45.0,4.0,4.0,18.0

In [32]:
complete_data = complete_data[['Postcode','address','bedrooms','baths','parking','property_type','property_features','processed_price','Formal Name','Distance_x','Duration_x','School_Name','Distance_y','Duration_y','2021','Offence Count','Bus_Station_Name','Distance','Duration','Shopping_Center_Name','Distance_shop','Duration_shop', 'Count_Station', 'Count_Hospital', 'Count_School', 'Count_Shopping_Center']]
complete_data.columns = ['Postcode', 'Property Address','Bedrooms','Baths','Parking','property_type','Property Features','Weekly Rental Price','Health Instituion','Health Distance','Health Duration','School Name','School Distance','School Duration','Population','Crime Count','Bus Station','Bus Distance','Bus Duration','Shopping_Center_Name','Shop Distance','Shop Duration', 'Count_Station', 'Count_Hospital', 'Count_School', 'Count_Shopping_Center']
complete_data.head()

,Postcode,Property Address,Bedrooms,Baths,Parking,property_type,Property Features,Weekly Rental Price,Health Instituion,Health Distance,...,Bus Station,Bus Distance,Bus Duration,Shopping_Center_Name,Shop Distance,Shop Duration,Count_Station,Count_Hospital,Count_School,Count_Shopping_Center
0,3000,CP2008/11 Rose Lane Melbourne VIC 3000,0,0,1,Carspace,[],60.0,Melbourne Oral and Facial Surgery Pty Ltd,2.0,...,King St/Lonsdale St (Melbourne City),0.4,2,COLLINS234 BOUTIQUE PLACE,1.0,6,45.0,4.0,4.0,18.0
1,3000,CP2008/11 Rose Lane Melbourne VIC 3000,0,0,1,Carspace,[],60.0,Melbourne Oral and Facial Surgery Pty Ltd,2.0,...,King St/Lonsdale St (Melbourne City),0.4,2,COLLINS234 BOUTIQUE PLACE,1.0,6,45.0,4.0,4.0,18.0
2,3000,CP2008/11 Rose Lane Melbourne VIC 3000,0,0,1,Carspace,[],60.0,Melbourne Oral and Facial Surgery Pty Ltd,2.0,...,King St/Lonsdale St (Melbourne City),0.4,2,COLLINS234 BOUTIQUE PLACE,1.0,6,45.0,4.0,4.0,18.0
3,3000,CP2008/11 Rose Lane Melbourne VIC 3000,0,0,1,Carspace,[],60.0,Melbourne Oral and Facial Surgery Pty Ltd,2.0,...,King St/Lonsdale St (Melbourne City),0.4,2,COLLINS234 BOUTIQUE PLACE,1.0,6,45.0,4.0,4.0,18.0
4,3000,CP2008/11 Rose Lane Melbourne VIC 3000,0,0,1,Carspace,[],60.0,Melbourne Oral and Facial Surgery Pty Ltd,2.0,...,King St/Lonsdale St (Melbourne City),0.4,2,COLLINS234 BOUTIQUE PLACE,1.0,6,45.0,4.0,4.0,18.0

In [33]:
complete_data.to_csv('../data/curated/complete_data.csv')