In [27]:
import pandas as pd

In [28]:
property_data = pd.read_csv("../data/curated/processed_domain_data.csv")
hospital_data = pd.read_csv("../data/curated/closest_hospital.csv")
school_data = pd.read_csv("../data/curated/closest_school.csv")
population_data = pd.read_csv("../data/curated/predicted_population.csv")
crime_data = pd.read_csv("../data/curated/crime.csv")
bus_data = pd.read_csv("../data/curated/closest_bus_station.csv")
shopping_center_data = pd.read_csv("../data/curated/closest_shopping_center.csv")
income_data = pd.read_csv("../data/curated/income.csv")
count = pd.read_csv('../data/curated/count.csv')
property_data.columns = ['Unnamed: 0', 'address','Postcode', 'bedrooms', 'baths', 'parking', 'property_type', 'property_features', 'freq', 'processed_price']

In [29]:
income_data = income_data[['Postcode', 'Income Per Person']]
income_data = income_data.groupby(['Postcode']).mean()
income_data

          Income Per Person
Postcode
3000           11826.000000
3002            3899.000000
3003           14582.000000
3004           10933.666667
3005           11263.000000
...                     ...
3990           12695.000000
3991           12695.000000
3992           12695.000000
3995           12695.000000
3996            8846.000000

[696 rows x 1 columns]

In [30]:
hospital_data['Duration'] = hospital_data['Duration'].map(lambda x:x.rstrip(' mins'))

In [31]:
bus_data['Duration'] = bus_data['Duration'].map(lambda x:x.rstrip(' mins'))
bus_data['Distance'] = bus_data['Distance'].map(lambda x:x.rstrip(' km'))
school_data['Duration'] = school_data['Duration'].map(lambda x:x.rstrip(' mins'))
shopping_center_data['Duration'] = shopping_center_data['Duration'].map(lambda x:x.rstrip(' mins'))
shopping_center_data = shopping_center_data[['Postcode','Centroid','Shopping_Center_Name','Location','Distance','Duration']]
shopping_center_data.columns = ['Postcode','Centroid_shop','Shopping_Center_Name','Location_shop','Distance_shop','Duration_shop']

In [32]:
population_data = population_data[['Postcode', '2022']]

In [33]:
complete_data = property_data.merge(hospital_data, how='left', on='Postcode')
complete_data = complete_data.merge(school_data, how='left', on='Postcode')
complete_data = complete_data.merge(population_data, how='left', on='Postcode')
complete_data = complete_data.merge(crime_data, how='left', on='Postcode')
complete_data = complete_data.merge(bus_data, how='left', on='Postcode')
complete_data = complete_data.merge(shopping_center_data, how='left', on='Postcode')
complete_data = complete_data.merge(income_data, how='left', on='Postcode')
complete_data = complete_data.merge(count, how='left', on='Postcode')
complete_data.head()

/var/folders/t7/dnx7ygys43vfq00ddy255g680000gn/T/ipykernel_73673/570416763.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 0_x'} in the result is deprecated and will raise a MergeError in a future version.
  complete_data = complete_data.merge(bus_data, how='left', on='Postcode')

,Unnamed: 0_x,address,Postcode,bedrooms,baths,parking,property_type,property_features,freq,processed_price,...,Centroid_shop,Shopping_Center_Name,Location_shop,Distance_shop,Duration_shop,Income Per Person,Count_Station,Count_Hospital,Count_School,Count_Shopping_Center
0,https://www.domain.com.au/cp2008-11-rose-lane-...,CP2008/11 Rose Lane Melbourne VIC 3000,3000,0,0,1,Carspace,[],week,60.0,...,-37.817403 144.956776,COLLINS234 BOUTIQUE PLACE,"-37.815545, 144.965749",1.0,6,11826.0,45.0,4.0,4.0,18.0
1,https://www.domain.com.au/unit-1713-200-spence...,Unit 1713/200 Spencer St Melbourne VIC 3000,3000,1,1,1,Apartment / Unit / Flat,[],week,440.0,...,-37.817403 144.956776,COLLINS234 BOUTIQUE PLACE,"-37.815545, 144.965749",1.0,6,11826.0,45.0,4.0,4.0,18.0
2,https://www.domain.com.au/3902-220-spencer-str...,3902/220 Spencer Street Melbourne VIC 3000,3000,2,2,1,Apartment / Unit / Flat,['Furnished'],week,650.0,...,-37.817403 144.956776,COLLINS234 BOUTIQUE PLACE,"-37.815545, 144.965749",1.0,6,11826.0,45.0,4.0,4.0,18.0
3,https://www.domain.com.au/3405-288-spencer-str...,3405/288 Spencer Street Melbourne VIC 3000,3000,1,1,0,Apartment / Unit / Flat,"['INSIDE:', 'Split System Heating', 'Air condi...",week,440.0,...,-37.817403 144.956776,COLLINS234 BOUTIQUE PLACE,"-37.815545, 144.965749",1.0,6,11826.0,45.0,4.0,4.0,18.0
4,https://www.domain.com.au/1007-238-flinders-st...,1007/238 Flinders St Melbourne VIC 3000,3000,1,1,0,Apartment / Unit / Flat,[],week,320.0,...,-37.817403 144.956776,COLLINS234 BOUTIQUE PLACE,"-37.815545, 144.965749",1.0,6,11826.0,45.0,4.0,4.0,18.0

In [37]:
complete_data = complete_data[['Postcode','bedrooms','baths','parking','property_type','processed_price','Distance_x','Duration_x','Distance_y','Duration_y','Distance','Duration','Distance_shop','Duration_shop','Offence Count','Income Per Person','Count_Station','Count_Hospital','Count_School','Count_Shopping_Center']]
complete_data.columns = ['Postcode','bedrooms','baths','parking','property_type','processed_price','Distance_medi','Duration_medi','Distance_sch','Duration_sch','Distance_bus','Duration_bus','Distance_shop','Duration_shop','Offence Count','Income Per Person','Count_Station','Count_Hospital','Count_School','Count_Shopping_Center']

In [42]:
complete_data['Count_Hospital'] = complete_data['Count_Hospital'].fillna(0)
complete_data['Count_School'] = complete_data['Count_School'].fillna(0)
complete_data['Count_Station'] = complete_data['Count_Station'].fillna(0)
complete_data['Count_Shopping_Center'] = complete_data['Count_Shopping_Center'].fillna(0)
complete_data = complete_data.drop_duplicates()

,Postcode,bedrooms,baths,parking,property_type,processed_price,Distance_medi,Duration_medi,Distance_sch,Duration_sch,Distance_bus,Duration_bus,Distance_shop,Duration_shop,Offence Count,Income Per Person,Count_Station,Count_Hospital,Count_School,Count_Shopping_Center
0,3000,0,0,1,Carspace,60.0,2.0,9,1.1,5,0.4,2,1.0,6,16212,11826.0,45.0,4.0,4.0,18.0
1,3000,1,1,1,Apartment / Unit / Flat,440.0,2.0,9,1.1,5,0.4,2,1.0,6,16212,11826.0,45.0,4.0,4.0,18.0
2,3000,2,2,1,Apartment / Unit / Flat,650.0,2.0,9,1.1,5,0.4,2,1.0,6,16212,11826.0,45.0,4.0,4.0,18.0
3,3000,1,1,0,Apartment / Unit / Flat,440.0,2.0,9,1.1,5,0.4,2,1.0,6,16212,11826.0,45.0,4.0,4.0,18.0
4,3000,1,1,0,Apartment / Unit / Flat,320.0,2.0,9,1.1,5,0.4,2,1.0,6,16212,11826.0,45.0,4.0,4.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14980,3996,3,2,2,House,600.0,NaN,NaN,1.9,4,NaN,NaN,NaN,NaN,267,8846.0,0.0,0.0,0.0,0.0
14981,3996,4,2,0,House,550.0,NaN,NaN,1.9,4,NaN,NaN,NaN,NaN,267,8846.0,0.0,0.0,0.0,0.0
14982,3996,2,1,0,House,420.0,NaN,NaN,1.9,4,NaN,NaN,NaN,NaN,267,8846.0,0.0,0.0,0.0,0.0
14983,3996,2,1,1,House,370.0,NaN,NaN,1.9,4,NaN,NaN,NaN,NaN,267,8846.0,0.0,0.0,0.0,0.0
14984,3996,3,2,1,House,475.0,NaN,NaN,1.9,4,NaN,NaN,NaN,NaN,267,8846.0,0.0,0.0,0.0,0.0

In [43]:
complete_data.columns[complete_data.isnull().any()].tolist()

['Distance_medi',
 'Duration_medi',
 'Distance_sch',
 'Duration_sch',
 'Distance_bus',
 'Duration_bus',
 'Distance_shop',
 'Duration_shop',
 'Income Per Person']

In [40]:
complete_data.to_csv('../data/curated/complete_data.csv')