In [4]:
import pandas as pd

data = pd.read_csv('../data/curated/complete_data.csv')
income = pd.read_csv('../data/curated/predict_income.csv')

income = income[['Postcode','2022']]
data = data[data.property_type != 'Carspace']
data['Crime Rate'] = data['Crime Count']/data['Population']

In [5]:
# Drop outliers

data = data[['Postcode','Baths','Bedrooms','Parking','Weekly Rental Price']]

data = data[data['Weekly Rental Price'] < 5000]

data = data.drop_duplicates()

data = data.merge(income, on='Postcode', how='left')

data = data.fillna(0)

data = data.rename(columns={'2022' : 'Income'})

data.to_csv('../data/curated/outliers_removed.csv')

In [6]:
data

       Postcode  Baths  Bedrooms  Parking  Weekly Rental Price        Income
0          3000      1         1        1                440.0  38674.046186
1          3000      2         2        1                650.0  38674.046186
2          3000      1         1        0                440.0  38674.046186
3          3000      1         1        0                320.0  38674.046186
4          3000      2         2        0                700.0  38674.046186
...         ...    ...       ...      ...                  ...           ...
11639      3996      2         3        2                600.0  52284.246429
11640      3996      2         4        0                550.0  52284.246429
11641      3996      1         2        0                420.0  52284.246429
11642      3996      1         2        1                370.0  52284.246429
11643      3996      2         3        1                475.0  52284.246429

[11644 rows x 6 columns]