In [33]:
import pandas as pd

postcode_SA2 = pd.read_csv('../data/raw/postcode_SA2.csv')

postcode_SA2 = postcode_SA2[['POSTCODE', 'SA2_MAINCODE_2011', 'SA2_NAME_2011']]

postcode_SA2 = postcode_SA2.rename(columns={'POSTCODE' : 'Postcode', 'SA2_MAINCODE_2011' : 'SA2_code', 'SA2_NAME_2011' : 'SA2_name'})

postcode_SA2 = postcode_SA2.iloc[1763:3207]

postcode_SA2

      Postcode   SA2_code               SA2_name
1763      3000  206041117                Carlton
1764      3000  206041119         East Melbourne
1765      3000  206041122              Melbourne
1766      3000  206041123        North Melbourne
1767      3000  206041124              Parkville
...        ...        ...                    ...
3202      3991  205031093  Wonthaggi - Inverloch
3203      3992  205031093  Wonthaggi - Inverloch
3204      3995  205031093  Wonthaggi - Inverloch
3205      3996  205031087                 Foster
3206      3996  205031093  Wonthaggi - Inverloch

[1444 rows x 3 columns]

In [34]:
population = pd.read_csv('../data/raw/population.csv')

population = population[population['S/T name'] == 'Victoria']

population = population.drop(columns=['S/T code', 'S/T name', 'GCCSA code', 'GCCSA name', 'SA4 code', 'SA4 name', 'SA3 code', 'SA3 name'])

population = population.rename(columns={'SA2 code' : 'SA2_code', 'SA2 name' : 'SA2_name'})

population

,SA2_code,SA2_name,2001,2002,2003,2004,2005,2006,2007,2008,...,2016,2017,2018,2019,2020,2021,Change 2011-2021,Change %,Area km2,Population density 2021 persons/km2
642,201011001,Alfredton,5756,6092,6293,6480,6648,6761,7034,7272,...,11852,12639,13520,14408,15472,16823,8371,99.0,52.7,319.2
643,201011002,Ballarat,11497,11708,12015,12189,12269,12356,12408,12480,...,12301,12261,12237,12311,12183,12076,-289,-2.3,12.4,975.5
644,201011005,Buninyong,5320,5399,5557,5620,5857,6037,6131,6252,...,7311,7407,7413,7452,7369,7232,507,7.5,51.6,140.2
645,201011006,Delacombe,4154,4225,4371,4465,4704,5041,5206,5349,...,7195,7617,8174,8876,9736,10640,4802,82.3,34.2,311.5
646,201011007,Smythes Creek,3317,3378,3411,3473,3508,3542,3594,3658,...,3990,4002,4040,4109,4148,4213,394,10.3,104.7,40.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1159,217031476,Otway,3452,3479,3511,3511,3492,3459,3489,3501,...,3556,3633,3707,3797,3905,3978,558,16.3,1505.9,2.6
1160,217041477,Moyne - East,6718,6704,6676,6643,6638,6652,6606,6631,...,6709,6714,6741,6790,6873,6989,210,3.1,3275.8,2.1
1161,217041478,Moyne - West,8317,8387,8450,8487,8517,8601,8694,8792,...,9603,9681,9773,9833,9842,9963,939,10.4,2037.8,4.9
1162,217041479,Warrnambool - North,17053,17449,17726,17937,18172,18528,18877,19107,...,21442,21676,21934,22157,22379,22462,2583,13.0,62.4,359.9
1163,217041480,Warrnambool - South,12506,12578,12639,12697,12748,12792,12839,12903,...,13173,13192,13214,13247,13323,13292,151,1.1,120.2,110.6

In [35]:
population_postcode = pd.merge(postcode_SA2, population, how='left', on=['SA2_code', 'SA2_name'])

population_postcode = population_postcode.dropna()

population_postcode

,Postcode,SA2_code,SA2_name,2001,2002,2003,2004,2005,2006,2007,...,2016,2017,2018,2019,2020,2021,Change 2011-2021,Change %,Area km2,Population density 2021 persons/km2
0,3000,206041117,Carlton,9529.0,10022.0,10611.0,11224.0,11924.0,12737.0,13509.0,...,20242.0,20669.0,20869.0,21088.0,20943.0,17198.0,2076.0,13.7,1.8,9456.2
1,3000,206041119,East Melbourne,3731.0,3859.0,4243.0,4460.0,4495.0,4555.0,4806.0,...,5475.0,5495.0,5409.0,5413.0,5378.0,4962.0,-276.0,-5.3,2.9,1711.2
4,3000,206041124,Parkville,5332.0,5327.0,5253.0,5201.0,5157.0,5270.0,5649.0,...,7898.0,8182.0,8243.0,8294.0,8321.0,7446.0,895.0,13.7,4.0,1838.9
5,3002,206041119,East Melbourne,3731.0,3859.0,4243.0,4460.0,4495.0,4555.0,4806.0,...,5475.0,5495.0,5409.0,5413.0,5378.0,4962.0,-276.0,-5.3,2.9,1711.2
7,3004,206041119,East Melbourne,3731.0,3859.0,4243.0,4460.0,4495.0,4555.0,4806.0,...,5475.0,5495.0,5409.0,5413.0,5378.0,4962.0,-276.0,-5.3,2.9,1711.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1439,3991,205031093,Wonthaggi - Inverloch,17647.0,17801.0,17956.0,18117.0,18250.0,18359.0,18602.0,...,22577.0,23270.0,23966.0,24739.0,25631.0,26723.0,6327.0,31.0,728.8,36.7
1440,3992,205031093,Wonthaggi - Inverloch,17647.0,17801.0,17956.0,18117.0,18250.0,18359.0,18602.0,...,22577.0,23270.0,23966.0,24739.0,25631.0,26723.0,6327.0,31.0,728.8,36.7
1441,3995,205031093,Wonthaggi - Inverloch,17647.0,17801.0,17956.0,18117.0,18250.0,18359.0,18602.0,...,22577.0,23270.0,23966.0,24739.0,25631.0,26723.0,6327.0,31.0,728.8,36.7
1442,3996,205031087,Foster,8272.0,8242.0,8198.0,8173.0,8167.0,8170.0,8172.0,...,8897.0,8969.0,9021.0,9114.0,9276.0,9377.0,1111.0,13.4,1498.8,6.3
1443,3996,205031093,Wonthaggi - Inverloch,17647.0,17801.0,17956.0,18117.0,18250.0,18359.0,18602.0,...,22577.0,23270.0,23966.0,24739.0,25631.0,26723.0,6327.0,31.0,728.8,36.7

In [36]:
population_postcode = population_postcode.drop(columns=['SA2_code', 'SA2_name', 'Change 2011-2021', 'Change %', 'Area km2', 'Population density 2021 persons/km2'])

population_postcode = population_postcode.groupby(['Postcode']).sum()

population_postcode.to_csv('../data/raw/population_postcode.csv')

In [37]:
p = pd.read_csv('../data/raw/population_postcode.csv')

p

,Postcode,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,3000,18592.0,19208.0,20107.0,20885.0,21576.0,22562.0,23964.0,25188.0,26220.0,...,27757.0,29226.0,30664.0,32076.0,33615.0,34346.0,34521.0,34795.0,34642.0,29606.0
1,3002,3731.0,3859.0,4243.0,4460.0,4495.0,4555.0,4806.0,5055.0,5202.0,...,5280.0,5333.0,5374.0,5411.0,5475.0,5495.0,5409.0,5413.0,5378.0,4962.0
2,3004,21416.0,21687.0,22219.0,22640.0,23053.0,23643.0,24374.0,25101.0,25827.0,...,26822.0,27008.0,27363.0,27869.0,28418.0,28821.0,29083.0,29536.0,29275.0,27527.0
3,3005,154.0,926.0,1913.0,3089.0,3779.0,4152.0,4592.0,5040.0,5402.0,...,6802.0,7988.0,9170.0,10444.0,11832.0,13923.0,15439.0,16375.0,16678.0,15942.0
4,3008,154.0,926.0,1913.0,3089.0,3779.0,4152.0,4592.0,5040.0,5402.0,...,6802.0,7988.0,9170.0,10444.0,11832.0,13923.0,15439.0,16375.0,16678.0,15942.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581,3990,17647.0,17801.0,17956.0,18117.0,18250.0,18359.0,18602.0,18891.0,19168.0,...,20801.0,21181.0,21611.0,22039.0,22577.0,23270.0,23966.0,24739.0,25631.0,26723.0
582,3991,17647.0,17801.0,17956.0,18117.0,18250.0,18359.0,18602.0,18891.0,19168.0,...,20801.0,21181.0,21611.0,22039.0,22577.0,23270.0,23966.0,24739.0,25631.0,26723.0
583,3992,17647.0,17801.0,17956.0,18117.0,18250.0,18359.0,18602.0,18891.0,19168.0,...,20801.0,21181.0,21611.0,22039.0,22577.0,23270.0,23966.0,24739.0,25631.0,26723.0
584,3995,17647.0,17801.0,17956.0,18117.0,18250.0,18359.0,18602.0,18891.0,19168.0,...,20801.0,21181.0,21611.0,22039.0,22577.0,23270.0,23966.0,24739.0,25631.0,26723.0
585,3996,25919.0,26043.0,26154.0,26290.0,26417.0,26529.0,26774.0,27080.0,27379.0,...,29230.0,29745.0,30277.0,30813.0,31474.0,32239.0,32987.0,33853.0,34907.0,36100.0