In [1]:
import pandas as pd
import re
import numpy as np

In [22]:
# df_shopping = pd.read_csv('../data/raw/shopping_center.csv',header = None)
# df_shopping.head()
# df_shopping = df_shopping.loc[:,[0,1]]
# df_shopping.head()
# df_shopping = df_shopping.values
# Y = []
# X = []
# for info in df_shopping[:,1]:
#     Y.append(re.findall(r"\d+\.?\d*",info)[0])
#     X.append(re.findall(r"\d+\.?\d*",info)[1])
    
# Y = np.asarray(Y,dtype = float).reshape(-1,1)*-1.0
# X = np.asarray(X,dtype = float).reshape(-1,1)
# df_shopping = np.concatenate((df_shopping[:,0].reshape(-1,1),X,Y),axis = 1)
# df_shopping = pd.DataFrame(df_shopping)
# df_shopping.columns = ['Shopping Name','Longitude','Latitude']
# df_shopping.head()

                        Shopping Name Longitude Latitude
0                   206 BOURKE STREET   144.967 -37.8127
1        ACLAND COURT SHOPPING CENTRE   144.981  -37.869
2         ALTONA GATE SHOPPING CENTRE   144.846  -37.829
3  BALNARRING VILLAGE SHOPPING CENTRE   145.125 -38.3732
4                       BARKLY SQUARE   144.962 -37.7757

In [23]:
# from pandas.core.frame import DataFrame


# shopping_center_list = []

# # Loop through the dataframe, add unformation into the list
# for i in range(0,len(df_shopping)):
#     row = df_shopping.iloc[i]
#     location = str(row[2]) + ', ' + str(row[1])
#     shopping_center_list.append([row[0], location])

# # Forming new dataframe
# shopping_center_new = DataFrame(data = shopping_center_list, columns=['Shopping_Center_Name', 'Location'])

# shopping_center_new.head()

                 Shopping_Center_Name                Location
0                   206 BOURKE STREET  -37.812733, 144.966947
1        ACLAND COURT SHOPPING CENTRE  -37.868967, 144.980617
2         ALTONA GATE SHOPPING CENTRE   -37.828989, 144.84627
3  BALNARRING VILLAGE SHOPPING CENTRE   -38.373199, 145.12501
4                       BARKLY SQUARE  -37.775695, 144.962004

In [ ]:
pip install geopy

In [ ]:
from geopy.geocoders import Nominatim

postcode_list = []
geolocator = Nominatim(user_agent="vscode")
count = 1

for i in range(0,len(shopping_center_new)):
    row = shopping_center_new.iloc[i]
    location = geolocator.reverse(row[1])

    if 'postcode' in location.raw['address'].keys():
        post = location.raw['address']['postcode']
        postcode_list.append([row[0], row[1], int(post)])
    else:
        count += 1

shopping_center_postcode = DataFrame(data = postcode_list, columns=['Shopping_Center_Name', 'Location', 'Postcode'])

shopping_center_postcode.head()
shopping_center_postcode.to_csv('../data/curated/shopping_center_postcode.csv')

In [2]:
centroid = pd.read_csv('../data/curated/centroid.csv')
centroid = centroid.drop(columns='Unnamed: 0')
centroid = centroid.dropna()
centroid.head()

   Postcode               Centroid
0      3000  -37.817403 144.956776
1      3001  -37.817403 144.956776
2      3002  -37.818517 144.982207
3      3003  -37.810871 144.949592
4      3004  -37.844246 144.970161

In [7]:
shopping_center = pd.read_csv('../data/curated/shopping_center_postcode.csv',)
shopping_center = shopping_center[['Shopping_Center_Name', 'Postcode', 'Location']]
shopping_center.head()

                 Shopping_Center_Name  Postcode                Location
0                   206 BOURKE STREET      3000  -37.812733, 144.966947
1        ACLAND COURT SHOPPING CENTRE      3182  -37.868967, 144.980617
2         ALTONA GATE SHOPPING CENTRE      3025   -37.828989, 144.84627
3  BALNARRING VILLAGE SHOPPING CENTRE      3927   -38.373199, 145.12501
4                       BARKLY SQUARE      3056  -37.775695, 144.962004

In [9]:
df_merge = pd.merge(centroid, shopping_center, how='left', on='Postcode')
df_merge = df_merge.dropna()
df_merge.head()

,Postcode,Centroid,Shopping_Center_Name,Location
0,3000,-37.817403 144.956776,206 BOURKE STREET,"-37.812733, 144.966947"
1,3000,-37.817403 144.956776,BOURKE STREET MALL,"-37.813538, 144.964386"
2,3000,-37.817403 144.956776,COLLINS PLACE,"-37.814312, 144.97268"
3,3000,-37.817403 144.956776,COLLINS234 BOUTIQUE PLACE,"-37.815545, 144.965749"
4,3000,-37.817403 144.956776,EMPORIUM MELBOURNE,"-37.812517, 144.963555"

In [ ]:
from pandas.core.frame import DataFrame
import requests
import json

Shopping_Center_list = []
key = 'AIzaSyA5ZY4vzmgl8OGdPVNTlk-qt9B660bFveY' 

for i in range(0,len(df_merge)):
    row = df_merge.iloc[i]
    centroid = row[1]
    school = row[3]
    
    # Request longtitude and latitude by API
    url = 'https://maps.googleapis.com/maps/api/distancematrix/json?origins={}&destinations={}&key={}'.format(centroid,school,key)
    payload={}
    headers = {}
    response = requests.request("GET", url, headers=headers, data=payload)

    # Return json
    json_data = json.loads(response.text)
    result = json_data['rows']

    if result[0]['elements'][0]['status'] == 'OK':
        distance = result[0]['elements'][0]['distance']['text']
        duration = result[0]['elements'][0]['duration']['text']
        Shopping_Center_list.append([row[0], row[1], row[2], row[3], distance, duration])

# Forming new dataframe
Shopping_Center_centroid = DataFrame(data = Shopping_Center_list, columns=['Postcode', 'Centroid', 'Shopping_Center_Name','Location', 'Distance', 'Duration'])

In [ ]:
# Filter out the closest school to centroid
Shopping_Center_centroid = Shopping_Center_centroid.sort_values(by=['Postcode','Distance'], ascending=(True,True))
Shopping_Center_centroid.drop_duplicates(subset=['Postcode'], keep='first', inplace=True)
Shopping_Center_centroid.head()

In [ ]:
# Removing the unit and save data into csv
Shopping_Center_centroid['Distance'] = Shopping_Center_centroid['Distance'].map(lambda x:x.rstrip('km'))
Shopping_Center_centroid.to_csv('../data/curated/closest_shopping_center.csv')